.outer_frm{
    background: blue;
    border-radius: 25px;
    border: 2px solid yellow;
    padding: 100px;
    width: 250px;
    height: 200px;
}
body{
    background: red;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}
input{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 5px;
    padding: 12px;
    resize: vertical;
    
}
#button_wrapper{
margin-top: 8px;
border: none;
cursor: pointer;
float: center;
}